[Unit]
Description=Nym Mixnode (0.9.2)

[Service]
User=root
ExecStart=/usr/local/bin/nym-mixnode run --id neicedai
#KillSignal=SIGINT # gracefully kill the process when stopping the service. Allows node to unregister cleanly.
Restart=always
RestartSec=10
StartLimitInterval=12
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
